<html>

<head>

    <title>RandomNumberApp</title>

    <style>
    </style>

</head>

<body>

    <h2> Guessing game! </h2>

    <div id="guessing-form">

        <form action="/result">

            Guess a number between 0 and 100:
            <input type="text" name="guess">

            <button type="submit"> Guess! </button>
        </form>

    </div>

    {% if response: %}
        <div id="show_response"> {{ response }}
        You've taken {{ count }}/10 guesses.
        </div>
    {% endif %}


</body>

</html>